.tsboard
{
    text-align: left;
}

.tsb-action-button
{
    padding: 0;
    text-align: center;
}

.btn-group
{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border: none;
    transform: translateX(10%);
}

