.nav {
    box-shadow: 0 0 11px rgb(0 0 0 / 13%);
}

.avatar {
    vertical-align: middle;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: lightgray;
    padding-top: 5%;
}

.nav-profile-primary {
    color: var(--text-primary);
    font-size: small;
    font-weight: bold;
}
.nav-profile-secondary {
    color: var(--text-secondary);
    font-size: smaller;
}
.nav-dropdown-menu-item{
    font-size: small;
}

.nav-brand-logo {
    width: 16%;
    background-color: var(--bg-primary);
    box-shadow: 0 0 11px rgb(0 0 0 / 13%);
    color: #fff;
}

.nav-brand-img {
    display: inline;
    width: 15%
}

.nav-brand-text
{
    display: block;
}

.nav-brand-block
{
    display: inline;
}

@media only screen and (max-width: 900px) {
    .nav-brand-text {
        display: none;
    }
    .nav-brand-img {
        width: 25px;
        height: 25px;
    }
}

@media only screen and (max-width: 550px) {
    .nav-brand-img {
        display: none;
    }
    .nav-brand-block{
        display: none !important;
    }
}