.dash-card-block
{
    padding: 1.25rem;
    border: none;
}
.dash-feed-icon
{
    color: #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 8px;
}
.dashboard-form-field
{
    font-size: smaller;
}