.menu-primary {
    background-color: var(--bg-primary-2);
    height: 100%;
    width: 16%;
    color: #dcdcd5;
    font-size: medium;
}

.menu-sub-primary
{
    padding-top: 6%;
    padding-bottom: 6%;
}

.menu-sub-tab
{
    text-decoration: none;
    display: inline;
}

.menu-item
{
    text-decoration: none;
    color: #dcdcd5;
}

.is-active
{
    color: #e717c8;
}

@media only screen and (max-width: 900px) {
    .menu-sub-tab {
        display: none;
    }
}